In [25]:
import pandas as pd

In [26]:
df_confirmed01 = pd.read_csv('C:/Users/slups/Documents/Labs_34/human-rights-first-police-ds-a/notebooks/labs34_notebooks/confirmed_cases.csv')
df_confirmed_fatals = pd.read_csv('C:/Users/slups/Documents/Labs_34/human-rights-first-police-ds-a/notebooks/labs34_notebooks/confirmed_fatals01_slupsha.csv')
df_unconfirmed = pd.read_csv('C:/Users/slups/Documents/Labs_34/human-rights-first-police-ds-a/notebooks/labs34_notebooks/unconfirmed_clean.csv')

In [27]:
print('Joan:',df_confirmed01.shape)
print('Stephen:', df_confirmed_fatals.shape)
print('James:',df_unconfirmed.shape)

Joan: (1327, 2)
Stephen: (30158, 3)
James: (9482, 3)

In [28]:
df_confirmed01.rename(columns = {'Brief Description':'DSC'}, inplace=True)
df_confirmed01.rename(columns = {'Confirmed':'confirmed'}, inplace=True)
df_confirmed01.head()

                                                 DSC  confirmed
0  Down the street from the Portland ICE facility...          1
1  On April 22, 2021, Albany police moved to disp...          1
2  Police arrested a protester near Jefferson Squ...          1
3  Police charged a group of protesters at H and ...          1
4  Police and protesters face off on opposite sid...          1

In [29]:
df_confirmed_fatals.drop(['Unnamed: 0'], axis=1, inplace=True)
df_confirmed_fatals.rename(columns = {'Brief description':'DSC'}, inplace=True)
df_confirmed_fatals.head()

                                                 DSC  confirmed
0  Samuel Knapp was allegedly driving a stolen ve...          1
1  Two Detroit men killed when their car crashed ...          1
2  Two Detroit men killed when their car crashed ...          1
3  A motorcycle was allegedly being driven errati...          1
4  LaTanya Janelle McCoy's car was struck from be...          1

In [30]:
df_unconfirmed.drop(['Unnamed: 0'], axis=1, inplace=True)

df_unconfirmed.head()

                                                 DSC  confirmed
0  Lmao when he needs training wheels  #acab #def...        0.0
1  Unlawful Arrest For Offending People  via @use...        0.0
2  @user @user They learned that shit from the go...        0.0
3  @user You dont have to give the reasons honThe...        0.0
4  @user @user Of course you would side with the ...        0.0

In [31]:
#ok, combining our confirmed dataframes, then we can achieve shape agreement with james unconfirmed one.

df_confirmed = pd.concat([df_confirmed01, df_confirmed_fatals], ignore_index=True)
print(df_confirmed.shape)
print(df_confirmed['confirmed'].value_counts())
df_confirmed.head()

(31485, 2)
1    31485
Name: confirmed, dtype: int64

                                                 DSC  confirmed
0  Down the street from the Portland ICE facility...          1
1  On April 22, 2021, Albany police moved to disp...          1
2  Police arrested a protester near Jefferson Squ...          1
3  Police charged a group of protesters at H and ...          1
4  Police and protesters face off on opposite sid...          1

In [32]:
df_confirmed = df_confirmed[:7491]
df_confirmed.shape

(7491, 2)

In [33]:
df_combined = pd.concat([df_confirmed, df_unconfirmed], ignore_index=True)
print(df_combined.shape)
df_combined.head()
df_combined.describe

(16973, 2)

<bound method NDFrame.describe of                                                      DSC  confirmed
0      Down the street from the Portland ICE facility...        1.0
1      On April 22, 2021, Albany police moved to disp...        1.0
2      Police arrested a protester near Jefferson Squ...        1.0
3      Police charged a group of protesters at H and ...        1.0
4      Police and protesters face off on opposite sid...        1.0
...                                                  ...        ...
16968                                                NaN        NaN
16969                                                NaN        NaN
16970                                                NaN        NaN
16971                                                NaN        NaN
16972                                                NaN        NaN

[16973 rows x 2 columns]>

In [12]:
#df_combined = pd.read_csv('combined_clean_18964x2.csv')

In [34]:
#df_combined.drop(['Unnamed: 0'], axis=1, inplace=True)
df_combined.head(25)

                                                  DSC  confirmed
0   Down the street from the Portland ICE facility...        1.0
1   On April 22, 2021, Albany police moved to disp...        1.0
2   Police arrested a protester near Jefferson Squ...        1.0
3   Police charged a group of protesters at H and ...        1.0
4   Police and protesters face off on opposite sid...        1.0
5   Police behind a chain link fence throw stun gr...        1.0
6   At a protest in Lents Park following the death...        1.0
7   A still image from Brooklyn Center, Minnesota ...        1.0
8   Police and protesters face off on opposite sid...        1.0
9   At a protest following the death of Daunte Wri...        1.0
10  As the curfew approached outside the Brooklyn ...        1.0
11  At a protest outside the Brooklyn Center polic...        1.0
12  At a protest near the LAPD Headquarters in Los...        1.0
13  Following a protest at the Brooklyn Center pol...        1.0
14  A journalist following the protests originatin...        1.0
15  During the third day of protests following the...        1.0
16  At a protest outside the Brooklyn Center Polic...        1.0
17  During a protest following the death of Daunte...        1.0
18  At a protest near the 40th precinct in the Bro...        1.0
19  Following the death of an unarmed driver at th...        1.0
20  At a protest outside the Salem capitol buildin...        1.0
21  During a protest regarding the ferries on the ...        1.0
22  During a second night of protests at Echo Park...        1.0
23  During the second day of protests at Echo park...        1.0
24  At a protest against the forced removal of a h...        1.0

In [36]:
df_combined.describe

<bound method NDFrame.describe of                                                      DSC  confirmed
0      Down the street from the Portland ICE facility...        1.0
1      On April 22, 2021, Albany police moved to disp...        1.0
2      Police arrested a protester near Jefferson Squ...        1.0
3      Police charged a group of protesters at H and ...        1.0
4      Police and protesters face off on opposite sid...        1.0
...                                                  ...        ...
16968                                                NaN        NaN
16969                                                NaN        NaN
16970                                                NaN        NaN
16971                                                NaN        NaN
16972                                                NaN        NaN

[16973 rows x 2 columns]>

In [37]:
df_filtered_combined = df_combined[df_combined['DSC'].notnull()]

In [38]:
print(df_filtered_combined.shape)
df_filtered_combined.head()

(14982, 2)

                                                 DSC  confirmed
0  Down the street from the Portland ICE facility...        1.0
1  On April 22, 2021, Albany police moved to disp...        1.0
2  Police arrested a protester near Jefferson Squ...        1.0
3  Police charged a group of protesters at H and ...        1.0
4  Police and protesters face off on opposite sid...        1.0

In [39]:
df_filtered_combined.tail()

                                                     DSC  confirmed
14977  Pretty sure one of my supervisors is an excop ...        0.0
14978  Blue wall of silence takes hit in Chauvins mur...        0.0
14979  Par for the course with this state #acab forev...        0.0
14980  This Cant Be Reformed Fuck the policeAll of th...        0.0
14981  @user @user If not because #ACAB then when@use...        0.0

In [40]:
df_filtered_combined['confirmed'].value_counts()

0.0    7491
1.0    7491
Name: confirmed, dtype: int64

In [45]:
df_filtered_combined.to_csv('combined_cleaned_14982x2.csv', index=False)

In [46]:
df_test002 = pd.read_csv('combined_cleaned_14982x2.csv')
df_test002.head()

                                                 DSC  confirmed
0  Down the street from the Portland ICE facility...        1.0
1  On April 22, 2021, Albany police moved to disp...        1.0
2  Police arrested a protester near Jefferson Squ...        1.0
3  Police charged a group of protesters at H and ...        1.0
4  Police and protesters face off on opposite sid...        1.0