In [3]:
import pandas as pd

In [4]:
df_confirmed01 = pd.read_csv('C:/Users/slups/Documents/Labs_34/human-rights-first-police-ds-a/notebooks/labs34_notebooks/confirmed_cases.csv')
df_confirmed_fatals = pd.read_csv('C:/Users/slups/Documents/Labs_34/human-rights-first-police-ds-a/notebooks/labs34_notebooks/confirmed_fatals01_slupsha.csv')
df_unconfirmed = pd.read_csv('C:/Users/slups/Documents/Labs_34/human-rights-first-police-ds-a/notebooks/labs34_notebooks/unconfirmed_clean.csv')

In [8]:
print('Joan:',df_confirmed01.shape)
print('Stephen:', df_confirmed_fatals.shape)
print('James:',df_unconfirmed.shape)

Joan: (1327, 2)
Stephen: (30158, 3)
James: (9482, 3)

In [23]:
df_confirmed01.rename(columns = {'Brief Description':'DSC'}, inplace=True)
df_confirmed01.rename(columns = {'Confirmed':'confirmed'}, inplace=True)
df_confirmed01.head()

                                                 DSC  confirmed
0  Down the street from the Portland ICE facility...          1
1  On April 22, 2021, Albany police moved to disp...          1
2  Police arrested a protester near Jefferson Squ...          1
3  Police charged a group of protesters at H and ...          1
4  Police and protesters face off on opposite sid...          1

In [21]:
#df_confirmed_fatals.drop(['Unnamed: 0'], axis=1, inplace=True)
df_confirmed_fatals.rename(columns = {'Brief description':'DSC'}, inplace=True)
df_confirmed_fatals.head()

                                                 DSC  confirmed
0  Samuel Knapp was allegedly driving a stolen ve...          1
1  Two Detroit men killed when their car crashed ...          1
2  Two Detroit men killed when their car crashed ...          1
3  A motorcycle was allegedly being driven errati...          1
4  LaTanya Janelle McCoy's car was struck from be...          1

In [20]:
#df_unconfirmed.drop(['Unnamed: 0'], axis=1, inplace=True)

df_unconfirmed.head()

                                                 DSC  confirmed
0  Lmao when he needs training wheels  #acab #def...        0.0
1  Unlawful Arrest For Offending People  via @use...        0.0
2  @user @user They learned that shit from the go...        0.0
3  @user You dont have to give the reasons honThe...        0.0
4  @user @user Of course you would side with the ...        0.0

In [29]:
#ok, combining our confirmed dataframes, then we can achieve shape agreement with james unconfirmed one.

df_confirmed = pd.concat([df_confirmed01, df_confirmed_fatals], ignore_index=True)
print(df_confirmed.shape)
print(df_confirmed['confirmed'].value_counts())
df_confirmed.head()

(31485, 2)
1    31485
Name: confirmed, dtype: int64

                                                 DSC  confirmed
0  Down the street from the Portland ICE facility...          1
1  On April 22, 2021, Albany police moved to disp...          1
2  Police arrested a protester near Jefferson Squ...          1
3  Police charged a group of protesters at H and ...          1
4  Police and protesters face off on opposite sid...          1

In [31]:
df_confirmed = df_confirmed[:9482]
df_confirmed.shape

(9482, 2)

In [32]:
df_combined = pd.concat([df_confirmed, df_unconfirmed], ignore_index=True)
print(df_combined.shape)
df_combined.head()

(18964, 2)

                                                 DSC  confirmed
0  Down the street from the Portland ICE facility...        1.0
1  On April 22, 2021, Albany police moved to disp...        1.0
2  Police arrested a protester near Jefferson Squ...        1.0
3  Police charged a group of protesters at H and ...        1.0
4  Police and protesters face off on opposite sid...        1.0

In [33]:
df_combined.to_csv('combined_clean_18964x2.csv')