In [ ]:
import pandas as pd

rank2syn = pd.read_csv("/content/gpt2_gentext_20210816_234805.csv")

ParserError: ignored

A .CSV generated from GPT-2 Simple can't be read into a pandas dataframe. It must be cleaned manually or with pure python.

The preparation of these generated tweets for conversion to .CSV isn't featured in this notebook.

In [4]:
import pandas as pd

column_headers = ['tweets', 'labels']

df_rank2 = pd.read_csv("/content/rank2_syn.txt",
                       sep = '/',
                       names=column_headers)

df_rank2.to_csv("rank2syn.csv",
                index=None)

In [5]:
df_rank2

                                                 tweets  labels
0     Members of the Unified Command (Multinomah Cou...       2
1     Footage taken at E 136th St and Brook Ave in t...       2
2     Police approach protesters standing in the str...       2
3     Police arrested two AL.com journalists coverin...       2
4     Rayne Valentine, a hospital employee in Brookl...       2
...                                                 ...     ...
1181  Footage taken at E 136th St and Brook Ave in t...       2
1182  Police approach protesters standing in the str...       2
1183  Police arrested two AL.com journalists coverin...       2
1184  Rayne Valentine, a hospital employee in Brookl...       2
1185  Footage shows riot police suddenly charge into...       2

[1186 rows x 2 columns]

In [16]:
df_rank2.isnull().sum()

tweets    0
labels    0
dtype: int64

In [7]:
df_rank3 = pd.read_csv("/content/rank3_syn.txt",
                       sep = '/',
                       names=column_headers)

df_rank3.to_csv("rank3syn.csv",
                index=None)

In [9]:
df_rank3

                                                tweets  labels
0    Police are seen kneeling on a protester to arr...       3
1    Onaka was the driver of a car that was being p...       3
2    After protesters broke a few of the vehicle wi...       3
3    After protesters broke a few of the vehicle wi...       3
4    A protester breaks a piece of District Courtho...       3
..                                                 ...     ...
876  A livestreamer uploaded first person footage f...       3
877  Onaka was the driver of a car that was being p...       3
878  After finding a retired couple, Frederick Gobi...       3
879  Ofiara walked into Klein’s Pharmacy with an as...       3
880  Footage taken around midnight the morning of J...       3

[881 rows x 2 columns]

In [17]:
df_rank3.isnull().sum()

tweets    1
labels    0
dtype: int64

In [19]:
df_rank3.dropna(inplace=True)

In [134]:
df_rank4 = pd.read_csv("/content/rank4_syn.txt",
                       sep = '/',
                       names=column_headers)

df_rank4.to_csv("rank4syn.csv",
                index=None)

In [135]:
df_rank4

                                                tweets labels
0    Police surrounded and shoved protesters down M...      4
1    Officers dressed in swat gear threw a stun gre...      4
2    After police declared the protest a riot, prot...      4
3    Footage shows heavy tear gas usage as proteste...      4
4    Canovas were again called into the police stat...      4
..                                                 ...    ...
925  At a protest outside the ICE facility in Portl...      4
926  Following the death of an unarmed driver at th...      4
927  A journalist with Mill City Citizen Media is s...      4
928  Video shows sound cannon deployed alongside AP...    NaN
929  Police fire tear gas at peaceful protesters, w...      4

[930 rows x 2 columns]

In [136]:
df_rank4.isnull().sum()

tweets     0
labels    14
dtype: int64

Quite a few missing labels. Considering all the labels for this dataset are uniform, I can fill in these null values any which way.

In [137]:
df_rank4.fillna(method='backfill', 
                inplace=True)

In [138]:
df_rank4.nunique()

tweets    675
labels      5
dtype: int64

In [139]:
df_rank4.labels.value_counts()

4                                                                         923
pushed                                                                      3
covering their faces are pepper-sprayed directly in the face by a cop.      2
80.                                                                         1
pol                                                                         1
Name: labels, dtype: int64

Some text were mistakenly made into labels.

In [140]:
df_rank4=df_rank4[df_rank4.labels != 'covering their faces are pepper-sprayed directly in the face by a cop.']
df_rank4=df_rank4[df_rank4.labels != 'pushed']
df_rank4=df_rank4[df_rank4.labels != '80.']
df_rank4=df_rank4[df_rank4.labels != 'pol']

In [141]:
df_rank4.labels.value_counts()

4    923
Name: labels, dtype: int64

Combining all 3 force rank dataframes into one.

In [142]:
df_rank234 = pd.concat([df_rank2, df_rank3, df_rank4])
df_rank234.tail()

                                                tweets labels
925  At a protest outside the ICE facility in Portl...      4
926  Following the death of an unarmed driver at th...      4
927  A journalist with Mill City Citizen Media is s...      4
928  Video shows sound cannon deployed alongside AP...      4
929  Police fire tear gas at peaceful protesters, w...      4

In [143]:
df_rank234.describe

<bound method NDFrame.describe of                                                 tweets labels
0    Members of the Unified Command (Multinomah Cou...      2
1    Footage taken at E 136th St and Brook Ave in t...      2
2    Police approach protesters standing in the str...      2
3    Police arrested two AL.com journalists coverin...      2
4    Rayne Valentine, a hospital employee in Brookl...      2
..                                                 ...    ...
925  At a protest outside the ICE facility in Portl...      4
926  Following the death of an unarmed driver at th...      4
927  A journalist with Mill City Citizen Media is s...      4
928  Video shows sound cannon deployed alongside AP...      4
929  Police fire tear gas at peaceful protesters, w...      4

[2989 rows x 2 columns]>

In [144]:
df_rank234.nunique()

tweets    1776
labels       3
dtype: int64

Nearly half of my ~3k generated tweets are duplicates. GPT-2 isn't as robust as I believed it to be or I didn't train it on enough data.

Not only that, but the concatenation of these dataframes actually left some alphabetical characters as `labels`.

In [146]:
df_rank234.drop_duplicates(subset='tweets', inplace=True)

In [150]:
df_rank234.describe

<bound method NDFrame.describe of                                                 tweets labels
0    Members of the Unified Command (Multinomah Cou...      2
1    Footage taken at E 136th St and Brook Ave in t...      2
2    Police approach protesters standing in the str...      2
3    Police arrested two AL.com journalists coverin...      2
4    Rayne Valentine, a hospital employee in Brookl...      2
..                                                 ...    ...
921  Following the death of an unarmed driver at th...      4
922  Following the death of an unarmed driver at th...      4
925  At a protest outside the ICE facility in Portl...      4
926  Following the death of an unarmed driver at th...      4
927  A journalist with Mill City Citizen Media is s...      4

[1776 rows x 2 columns]>

Compiling it all

In [155]:
train = pd.read_csv('/content/training.csv')
test = pd.read_csv('/content/test.csv')
compiled = pd.concat([train, test, df_rank234])

In [156]:
compiled.describe

<bound method NDFrame.describe of      Unnamed: 0    id                                             tweets labels
0           0.0   6.0  A New Mexico State Police officer killed two p...      5
1           1.0   7.0  I found some police badge stickers at work and...      0
2           2.0   8.0  According to media reports, police said they a...      1
3           3.0   9.0  The male who has the knife is now running nort...      0
4           4.0  10.0  Changing the assignments of already existing c...      0
..          ...   ...                                                ...    ...
921         NaN   NaN  Following the death of an unarmed driver at th...      4
922         NaN   NaN  Following the death of an unarmed driver at th...      4
925         NaN   NaN  At a protest outside the ICE facility in Portl...      4
926         NaN   NaN  Following the death of an unarmed driver at th...      4
927         NaN   NaN  A journalist with Mill City Citizen Media is s...      4

[7806 rows x 4 columns]>

In [157]:
compiled.nunique()

Unnamed: 0    6030
id            6030
tweets        6989
labels           7
dtype: int64

In [158]:
compiled.labels.value_counts()

0    2570
5    1661
1    1192
3     837
4     666
2     549
4     331
Name: labels, dtype: int64

In [161]:
compiled.drop('Unnamed: 0', axis=1, inplace=True)
compiled.drop('id', axis=1, inplace=True)

In [162]:
compiled

                                                tweets labels
0    A New Mexico State Police officer killed two p...      5
1    I found some police badge stickers at work and...      0
2    According to media reports, police said they a...      1
3    The male who has the knife is now running nort...      0
4    Changing the assignments of already existing c...      0
..                                                 ...    ...
921  Following the death of an unarmed driver at th...      4
922  Following the death of an unarmed driver at th...      4
925  At a protest outside the ICE facility in Portl...      4
926  Following the death of an unarmed driver at th...      4
927  A journalist with Mill City Citizen Media is s...      4

[7806 rows x 2 columns]

In [163]:
compiled.labels.value_counts()

0    2570
5    1661
1    1192
3     837
4     666
2     549
4     331
Name: labels, dtype: int64

In [164]:
def unique(list1):
 
    # intilize a null list
    unique_list = []
     
    # traverse for all elements
    for x in list1:
        # check if exists in unique_list or not
        if x not in unique_list:
            unique_list.append(x)
    # print list
    for x in unique_list:
        print (x,)

In [165]:
unique(compiled.labels)

5
0
1
2
4
3
4

Both unique functions fail to discern that 4 is listed twice. What in the world?

In [170]:
compiled.dtypes

tweets    object
labels    object
dtype: object

So our labels are strings. That clears things up.

In [171]:
compiled['labels'] = compiled['labels'].astype(int)

In [173]:
compiled.nunique()

tweets    6989
labels       6
dtype: int64

In [174]:
compiled.describe

<bound method NDFrame.describe of                                                 tweets  labels
0    A New Mexico State Police officer killed two p...       5
1    I found some police badge stickers at work and...       0
2    According to media reports, police said they a...       1
3    The male who has the knife is now running nort...       0
4    Changing the assignments of already existing c...       0
..                                                 ...     ...
921  Following the death of an unarmed driver at th...       4
922  Following the death of an unarmed driver at th...       4
925  At a protest outside the ICE facility in Portl...       4
926  Following the death of an unarmed driver at th...       4
927  A journalist with Mill City Citizen Media is s...       4

[7806 rows x 2 columns]>

So GPT-2 actually **is** outputting text that it's being trained on!

In [175]:
compiled.drop_duplicates(subset='tweets', keep='first', inplace=True)

Finally finished cleaning!

Exporting our compiled synthetic and authentic data for later use with BERT.

In [177]:
from sklearn.model_selection import train_test_split

training, testing = train_test_split(compiled, test_size=0.2)

In [180]:
# Sanity Check
len(compiled) == len(training) + len(testing)

True

In [181]:
compiled.to_csv('synthetic_tweets234.csv')
training.to_csv('synthetic_training.csv')
testing.to_csv('synthetic_testing.csv')